.button.sleek-button {
    -fx-background-color: black !important;
    -fx-border-color: rgba(128, 128, 128, 0.3) !important;
}

.button.sleek-button {
    -fx-padding: 3px !important;
    -fx-border-width: 2px;
    -fx-background-radius: 5px !important;
    -fx-border-radius: 5px !important;
}

.button.selector-button {
    -fx-padding: 2px !important;
    -fx-border-width: 1px;
    -fx-border-color: green;
    -fx-background-color: transparent;
    -fx-background-radius: 4px !important;
    -fx-border-radius: 4px !important;
}

.button.sleek-button:hover, .button.selector-button:hover {
    -fx-background-color: rgba(0, 128, 0, 0.15) !important;
}

.button.sleek-button:focused, .button.selector-button:focused {
    -fx-border-color: #501717 !important;
}