/*
* Slider Bar
*/
.slider-bar > ProgressBar > .bar {
    -fx-background-insets: 0;
}

/*
* CheckBox
*/

.check-box-alt FontIcon {
    -fx-icon-color: white;
}

.check-box-alt .check-box-square {
    -fx-icon-size: 20px;
}

.check-box-alt .check-box-mark {
    -fx-icon-size: 18px;
}

.check-box-alt:hover .check-box-square {
    -fx-icon-color: green;
}

/*
* Spinner
*/

.spinner {
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}

.spinner .text-field {
    -fx-padding: 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.spinner .text-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/*
* OptionSpinner
*/

.option-spinner {
    -fx-alignment: center;
    -fx-focus-traversable: true;
}

.option-spinner-label {
    -fx-focus-traversable: true;
    -fx-alignment: center;
}

.option-spinner-label:focused {
    -fx-text-fill: green;
}