/*
* Text fields
*/

.sleek-text-field {
    -fx-prompt-text-fill: gray;
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-radius: 0px;
    -fx-padding: 1px;
}

.search-field {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-min-width: 150px;
}

.search-field FontIcon {
    -fx-icon-size: 16px;
    -fx-icon-color: -fx-accent;
}

/*
* Scroll Pane
*/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar {
    -fx-font-size: 6px !important;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgba(0, 128, 0, 0.3);
    -fx-background-radius: 4px;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: rgba(0, 128, 0, 0.7) !important;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}

/*
* CheckBox
*/

.check-box {
    -fx-background-color: transparent !important;
    -fx-content-display: right;
    /*-fx-mark-color: white;*/
    -fx-padding: 0px;
}

.check-box .box {
    -fx-background-color: transparent !important;
    -fx-border-color: white;
    -fx-border-radius: 0px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.check-box:hover .box {
    -fx-border-color: -fx-accent;
}

.check-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: white;
}

/*
* Menu
*/

.menu-item {
    -fx-background-color: #1a1a1b;
}

.menu-item:hover {
    -fx-background-color: rgba(0, 20, 0, 1);
}

.context-menu {
    -fx-background-color: transparent;
}

/*
* Misc
*/

.toggle-switch {
    -fx-background-color: transparent !important;
}