
FontIcon {
    -fx-icon-color: -fx-accent;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-padding: 0px !important;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.icon-button:selected {
    -fx-border-color: black;
    -fx-background-color: #351919 !important;
}

.icon-button:disabled FontIcon {
    -fx-icon-color: grey;
}

/*
* LARGE
*/

.icon-button.large-icon-button FontIcon {
    -fx-icon-size: 26px;
}

.icon-button.large-icon-button {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.icon-button.large-icon-button:hover {
    -fx-background-color: rgba(128, 128, 128, 0.15);
}

/*
* MEDIUM
*/

.icon-button.medium-icon-button FontIcon {
    -fx-icon-size: 18px;
}

.icon-button.medium-icon-button {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.icon-button.medium-icon-button:hover {
    -fx-background-color: rgba(128, 128, 128, 0.15);
}

/*
* SMALL
*/

.icon-button.small-icon-button FontIcon {
    -fx-icon-size: 15px;
}

.icon-button.small-icon-button:hover FontIcon {
    -fx-icon-color: #6c0000;
}

.action-bar {
    -fx-alignment: center-left;
    -fx-spacing: 2px;
}