.selector-prompt {
    -fx-padding: 2px;
    -fx-background-color: #2a2a32;
    -fx-spacing: 3px;
}

.options-box {
    -fx-padding: 2px;
}

.option-cell {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.option-cell:selected {
    -fx-background-color: #351919 !important;
}

.option-label {
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

.shortcut-label {
    -fx-text-fill: grey;
    -fx-font-size: 11px;
}