.prompt {
    -fx-padding: 3px;
    -fx-background-color: black !important;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-width: 1px !important;
    -fx-border-color: gray !important;
}

.prompt-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-pref-width: 150px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: white;
}

.dialog-title {
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-padding: 3px;
}

.dialog-box {
    -fx-border-color: gray;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-padding: 3px;
    -fx-spacing: 2px;
    -fx-alignment: center;
    -fx-background-color: #1e1f22;
}

.buttons-bar {
    -fx-spacing: 10px;
    -fx-padding: 3px;
    -fx-alignment: center;
}