Button.sleek-button, Button.selector-button {
    -fx-background-color: black !important;
    -fx-border-color: rgba(128, 128, 128, 0.3) !important;
}

Button.sleek-button {
    -fx-padding: 3px !important;
    -fx-border-width: 2px;
    -fx-background-radius: 5px !important;
    -fx-border-radius: 5px !important;
}

Button.selector-button {
    -fx-padding: 2px !important;
    -fx-border-width: 1px;
    -fx-background-radius: 2px !important;
    -fx-border-radius: 2px !important;
}

Button.sleek-button:hover, Button.selector-button:hover {
    -fx-background-color: #351919 !important;
}

Button.sleek-button:focused, Button.selector-button:focused {
    -fx-border-color: #501717 !important;
}

.options-box {
    -fx-padding: 2px;
}

.option-cell {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.option-cell:selected {
    -fx-background-color: #351919 !important;
}

.option-label {
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

.searchable-list {
    -fx-padding: 2px;
    -fx-background-color: #2a2a32;
    -fx-spacing: 3px;
}

FontIcon {
    -fx-icon-color: -fx-accent;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-padding: 0px !important;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.icon-button:selected {
    -fx-border-color: black;
    -fx-background-color: #351919 !important;
}

.icon-button:disabled FontIcon {
    -fx-icon-color: grey;
}

/*
* LARGE
*/

.icon-button.large-icon-button FontIcon {
    -fx-icon-size: 26px;
}

.icon-button.large-icon-button {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.icon-button.large-icon-button:hover {
    -fx-background-color: #351919;
}

/*
* MEDIUM
*/

.icon-button.medium-icon-button FontIcon {
    -fx-icon-size: 18px;
}

.icon-button.medium-icon-button {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.icon-button.medium-icon-button:hover {
    -fx-background-color: #351919;
}

/*
* SMALL
*/

.icon-button.small-icon-button FontIcon {
    -fx-icon-size: 15px;
}

.icon-button.small-icon-button:hover FontIcon {
    -fx-icon-color: #6c0000;
}

.action-bar {
    -fx-alignment: center-left;
    -fx-spacing: 2px;
}

/*
* Slider Bar
*/

.slider-bar > ProgressBar > .bar {
    -fx-background-insets: 0;
}

/*
 * DetailPane
 */

.detail-item {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-alignment: center-left;
}

.detail-item:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}
