/*
 * DetailPane
 */

.detail-item {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-alignment: center-left;
}

.detail-item:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}
