/*
 * DetailPane
 */

.detail-item {
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-alignment: center-left;
}

.detail-item:hover {
    -fx-background-color: rgba(100, 0, 0, 0.1);
}

.menu-item-layout {
    -fx-alignment: center-left;
    -fx-padding: 2px;
    -fxpref-height: 25px;
}

Label.menu-item-description {
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

Label.shortcut-info {
    -fx-text-fill: gray;
    -fx-font-size: 11px;
}