Button.sleek-button {
    -fx-padding: 3px !important;
    -fx-background-color: black !important;
    -fx-border-width: 2px;
    -fx-border-color: rgba(128, 128, 128, 0.3) !important;
    -fx-background-radius: 5px !important;
    -fx-border-radius: 5px !important;
}

Button.sleek-button:hover {
    -fx-background-color: #351919 !important;
}

Button.sleek-button:focused {
    -fx-border-color: #501717 !important;
}

.options-box {
    -fx-padding: 2px;
}

.option-cell {
    -fx-background-color: transparent;
    -fx-padding: 3px;
    -fx-background-radius: 3px;
}

.option-cell:selected {
    -fx-background-color: #351919 !important;
}

.option-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.searchable-list {
    -fx-padding: 2px;
    -fx-background-color: #2a2a32;
    -fx-spacing: 3px;
}
